*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html
{
    height: 100%;
    background-color:#E9D4D4 ;
}
.btn
{
    height:100%;
    color: white;
    background-color: #A67070;
}
#container
{
    text-align: center;
    height: 100%;
    position: relative;
}
#calculator
{ 
    padding:10px ;
    border-spacing: 10px 10px;
    border-collapse: separate;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#E9D4D4;
    box-shadow:0px 0px 16px #A67070;
    border-top:4px solid #A67070;
    border-bottom:4px solid #A67070;
}
button
{
    border: none;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    color: #A67070;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px #A67070;
}
button:active 
{ 
    box-shadow: 0 2px #A67070;
    transform: translateY(4px);
}
input
{
    border: none;    
    outline: none;
    padding:15px;
    border: 1px solid #A67070;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 600px) 
{
    button,input{
    font-size:30px;
    }
}
